<div style="height: 100vh;">
  <% if not @cart %>
    <div>
      <h6>There is no Event for Today!! </h6>
    </div> 
      <p> Go and Explore latest Events in your City!!</p>
  <% end %>
 </div>
<%= render "events/event" %>
  