<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/random/1900x500/?concert" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?festival" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?celebration" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?enjoy" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?dance" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?music" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?fitness" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?workshop" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?volunteer" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?kids" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?games" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/random/1900x500/?comedy" class="d-block" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>