<h2 class="my-5 ps-4">FIND NEW EXPERIENCES</h2>
<div class="d-flex justify-content-around">
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?volunteer" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <h5 class="card-title text-white font-weight-bold" style="text-shadow: 2px 2px 2px black">volunteer</h5>
      <h5 class="card-title text-white font-weight-bold" style="text-shadow: 2px 2px 2px black">online</h4>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?workout" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <h5 class="card-title text-white font-weight-bold" style="text-shadow: 2px 2px 2px black">health &</h5>
      <h5 class="card-title text-white font-weight-bold" style="text-shadow: 2px 2px 2px black">wellness</h5>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?courses" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <h5 class="card-title text-white font-weight-bold" style="text-shadow: 2px 2px 2px black">courses</h5>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?theater" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <h5 class="card-title text-white font-weight-bold" style="text-shadow: 2px 2px 2px black">theatre</h5>
      <h5 class="card-title text-white font-weight-bold" style="text-shadow: 2px 2px 2px black">& art</h5>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?dance" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <h5 class="card-title text-white font-weight-bold" style="text-shadow: 2px 2px 2px black">dance</h5>
    </div>
  </div>
  <div class="card img-fluid">
    <img class="card-img-top" src="https://source.unsplash.com/random/1900x1100/?workshop" alt="Card image" style="width: 12rem; opacity: 80%">
    <div class="card-img-overlay">
      <h5 class="card-title text-white font-weight-bold" style="text-shadow: 2px 2px 2px black">workshop</h5>
    </div>
  </div>
</div>
